*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}
nav{
    margin-bottom: 6rem;
}
nav ul{
    display: flex;
    background: #333;
    list-style-type: none;
    padding: 0.75rem 2rem;
    justify-content: center;
    overflow: hidden;
}
nav ul li a{
    padding: 0 22px;
    text-decoration: none;
    color: #f5f5f7;
    font-size: 12px;
    opacity: 0.90;
    font-weight: 300;
    font-family: 'Roboto',sans-serif;
}
nav ul li img{
    height: 16px;
    width: 15px;
    text-decoration: none;
    color: #f5f5f7;
    opacity: 0.90;
    font-family: 'Roboto',sans-serif;
}
nav ul li a:hover{
    color: white;
    opacity: 1;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1d1d1f;
}
.section1 .iTunes{
    height: 7rem;
    width: auto;
}
.section1 .logotext{
    font-weight: 500;
    font-size: 2rem;
}
.section1 .mainText{
    line-height: 1.1;
    font-size: 3.8rem;
    font-weight: 500;
}
.section1 .subText{
    line-height: 1.5;
    font-size: 1.35rem;
    font-weight: 400;
}
.section1 .lightText{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
    opacity: 0.9;
}
.section1 .microsoft{
    height: 4.8rem;
    width: auto;
    margin:0.5rem;
}
.section1 .hero{
    padding: 1rem 0;
    margin: 2rem 0;
    height: 34.5rem;
    width: auto; 
}
.line2{
    display: grid;
    grid-template: auto;
    margin-left: auto;
    margin-right: auto;
}
.systemReq{
    display: flex;
    line-height: 1.4;
    flex-direction: column;
    align-items: center;
    color:#1d1d1f;
    opacity: 0.96;
}
.hardware h3{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.3rem 0;
}
.software h3{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.3rem 0;
}
.systemReq .paratext{
    font-size: 1.11rem;
    word-spacing: 1.3;
}
footer{
    background: #f5f5f7;
    text-align: start;
}
footer h3{
    font-size: 0.8rem;
    text-align: center;
    padding-right: 1rem;
}
footer ul{
    list-style-type: none;
}
footer ul a:hover{
    border-bottom: 0.5px solid rgba(14, 13, 13, 0.4);
}
footer a:not(.paraFoot a){
    font-size: 0.75rem;
    text-decoration: none;
    color: #333;
}
.paraFoot{
    font-size: 0.8rem;
    opacity: 0.8;
}
.paraFoot a{
    font-size: 0.8rem;
    text-decoration: none;
}
.paraColor:hover{
    border-bottom: 0.1px solid;
}
.footer-nav{
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.copyText{
    font-size: 0.75rem;
    color: #333;
}
.listNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listNav li:not(.noBorder){
   border-right: 0.1px solid rgb(3, 3, 3, 0.2);
}
.listNav li{
    padding:0 1.5rem;
 }